@inherits LayoutComponentBase

@code {
    private string date = DateTime.Now.ToString("yyyy-MM-dd");
}

<header>
    <nav>
        <div class="topnav" id="myTopnav">
            <NavLink href="/" Match="NavLinkMatch.All" class="active">Blazor</NavLink>
            <p id="headerdate">Dagens datum är: @date</p>
        </div>
    </nav>
</header>

    <div class="layout">
<div class="sidebar">
    <NavMenu />
</div>
            <div class="content">
                <main role="main" class="pb-3">
                    @Body
                </main>
            </div>

    </div>

    <footer>
        <div class="footerdiv">
           <p>Av Philip Telberg (phte1100) - Kontakta mig via e-post: <a href="mailto:phte1100@student.miun.se">phte1100@student.miun.se</a></p>
           </div>
    </footer>

