    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Startsida</NavLink></li>
        <li><NavLink href="/Convert" Match="NavLinkMatch.All" class="nav-link">Konvertering</NavLink></li>
        <li><NavLink href="/Json" Match="NavLinkMatch.All" class="nav-link">JSON</NavLink></li>
    </ul>