@page "/converter"

<div>
    <p><strong>Km/h</strong> till <strong>Miles/h</strong></p>
    <label for="kmhInput">Km/h:</label>
    <input type="number" id="kmhInput" @bind="kmhInput" />
    <button @onclick="ConvertToMiles">Konvertera</button>
    <p>Miles/hour: @milesOutput</p>
</div>

<div>
    <p><strong>Miles/h</strong> till <strong>Km/h</strong></p>
    <label for="milesInput">Miles/hour:</label>
    <input type="number" id="milesInput" @bind="milesInput" />
    <button @onclick="ConvertToKmh">Konvertera</button>
    <p>Km/h: @kmhOutput</p>
</div>

<div>
    <p><strong>Meter</strong> till <strong>Fot (Feet)</strong></p>
    <label for="meterInput">Meter:</label>
    <input type="number" id="meterInput" @bind="meterInput" />
    <button @onclick="ConvertToFeet">Konvertera</button>
    <p>Feet: @feetOutput</p>
</div>

<div>
    <p><strong>Fot (Feet)</strong> till <strong>Meter</strong></p>
    <label for="feetInput">Feet:</label>
    <input type="number" id="feetInput" @bind="feetInput" />
    <button @onclick="ConvertToMeters">Konvertera</button>
    <p>Meter: @meterOutput</p>
</div>

@code {
    // Km/h till Miles/hour
    private double kmhInput;
    private int milesOutput;

    private void ConvertToMiles()
    {
        milesOutput = (int)Math.Round(kmhInput * 0.621371);
    }

    // Miles/hour till Km/h
    private double milesInput;
    private int kmhOutput;

    private void ConvertToKmh()
    {
        kmhOutput = (int)Math.Round(milesInput / 0.621371);
    }

    // Meter till Feet
    private double meterInput;
    private double feetOutput;

    private void ConvertToFeet()
    {
        feetOutput = Math.Round(meterInput * 3.28084, 2);
    }

    // Feet till Meter
    private double feetInput;
    private double meterOutput;

    private void ConvertToMeters()
    {
        meterOutput = Math.Round(feetInput / 3.28084, 2);
    }
}
